<!DOCTYPE html>
<html>

<head>
  <title>LAPORAN BULANAN KESAKITAN GIGI DAN MULUT</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th,
    td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
      font-size: 14px;
    }

    th {
      text-align: center;
      font-weight: 400;
    }

    .column2-5 {
      width: 2.5%;
    }

    .column5 {
      width: 5%;
    }

    .column7-5 {
      width: 7.5%;
    }

    .column10 {
      width: 10%;
    }

    .column12-5 {
      width: 12.5%;
    }

    .column15 {
      width: 15%;
    }

    .column20 {
      width: 20%;
    }

    .column25 {
      width: 25%;
    }

    .column30 {
      width: 30%;
    }

    .column35 {
      width: 35%;
    }

    .column40 {
      width: 40%;
    }

    .column45 {
      width: 45%;
    }

    .column50 {
      width: 50%;
    }

    .column55 {
      width: 55%;
    }

    .column60 {
      width: 60%;
    }

    .column65 {
      width: 60%;
    }

    .column70 {
      width: 60%;
    }

    .column75 {
      width: 60%;
    }

    .column80 {
      width: 60%;
    }

    .column95 {
      width: 95%;
    }

    .columGrey {
      background: #BEBEBE;
    }

    .head {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
    }

    .head p {
      margin: 0;
    }

    .textCenter {
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="head">
    <p>Formulir 10</p>
    <p>LAPORAN BULANAN KESAKITAN GIGI DAN MULUT</p>
  </div>
  <table>
    <thead>
      <tr>
        <td class="column5 textCenter" rowspan="2">No</td>
        <td class="column10 textCenter" rowspan="2">JENIS PENYAKIT</td>
        <td class="column5 textCenter" rowspan="2">ICD  10</td>
        <td class="column65 textCenter" colspan="13">JUMLAH KASUS BARU (Umur dan Jenis Kelamin)</td>
        <td class="column15 textCenter" colspan="3">JUMLAH KASUS LAMA</td>
      </tr>
      <tr>
        <td class="column5 textCenter">0-4 th</td>
        <td class="column5 textCenter">5-6 th</td>
        <td class="column5 textCenter">7-11 th</td>
        <td class="column5 textCenter">12 th</td>
        <td class="column5 textCenter">13-14 th</td>
        <td class="column5 textCenter">15-18 th</td>
        <td class="column5 textCenter">19-34 th</td>
        <td class="column5 textCenter">35-44 th</td>
        <td class="column5 textCenter">45-64 th</td>
        <td class="column5 textCenter">>64 th</td>
        <td class="column5 textCenter">L</td>
        <td class="column5 textCenter">P</td>
        <td class="column5 textCenter">JML</td>
        <td class="column5 textCenter">L</td>
        <td class="column5 textCenter">P</td>
        <td class="column5 textCenter">JML</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="column5 textCenter">1</td>
        <td class="column10">Persistensi gigi sulung</td>
        <td class="column5">K00.6</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">2</td>
        <td class="column10">Impaksi M3 klasifikasi IA</td>
        <td class="column5">K01.1</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">3</td>
        <td class="column10">Karies gigi</td>
        <td class="column5">K02</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">4</td>
        <td class="column10">Penyakit jaringan keras gigi lainnya</td>
        <td class="column5">K03</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">5</td>
        <td class="column10">Penyakit pulpa dan jaringan periapikal</td>
        <td class="column5">K04</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">6</td>
        <td class="column10">Gingivitis dan penyakit periodental</td>
        <td class="column5">K05</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">7</td>
        <td class="column10">Anomali dentofasial</td>
        <td class="column5">K07</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">8</td>
        <td class="column10">Gangguan gigi dan jaringan penyangga lainnya</td>
        <td class="column5">K08</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">9</td>
        <td class="column10">Stomatitis dan lesi-lesi berhubungan</td>
        <td class="column5">K12</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">10</td>
        <td class="column10">Angular Cheilitis</td>
        <td class="column5">K13.0</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">11</td>
        <td class="column10">Eritema Multiformis</td>
        <td class="column5">L51</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">12</td>
        <td class="column10">Nyeri orfasial</td>
        <td class="column5">R.51</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">13</td>
        <td class="column10">Fraktur mahkota yang tidak merusak pulpa</td>
        <td class="column5">S02.5</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
    </tbody>
  </table>
</body>

</html>