<!DOCTYPE html>
<html>

<head>
  <title>LAPORAN BULANAN KESAKITAN BERDASARKAN GEJALA, PENYEBAB PENYAKIT ATAU KONDISI PASIEN</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th,
    td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
      font-size: 14px;
    }

    th {
      text-align: center;
      font-weight: 400;
    }

    .column2-5 {
      width: 2.5%;
    }

    .column5 {
      width: 5%;
    }

    .column7-5 {
      width: 7.5%;
    }

    .column10 {
      width: 10%;
    }

    .column12-5 {
      width: 12.5%;
    }

    .column15 {
      width: 15%;
    }

    .column20 {
      width: 20%;
    }

    .column25 {
      width: 25%;
    }

    .column30 {
      width: 30%;
    }

    .column35 {
      width: 35%;
    }

    .column40 {
      width: 40%;
    }

    .column45 {
      width: 45%;
    }

    .column50 {
      width: 50%;
    }

    .column55 {
      width: 55%;
    }

    .column60 {
      width: 60%;
    }

    .column65 {
      width: 60%;
    }

    .column70 {
      width: 60%;
    }

    .column75 {
      width: 60%;
    }

    .column80 {
      width: 60%;
    }

    .column95 {
      width: 95%;
    }

    .columGrey {
      background: #BEBEBE;
    }

    .head {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
    }

    .head p {
      margin: 0;
    }

    .textCenter {
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="head">
    <p>Formulir 10</p>
    <p>LAPORAN BULANAN KESAKITAN BERDASARKAN GEJALA, PENYEBAB PENYAKIT ATAU KONDISI PASIEN</p>
  </div>
  <table>
    <thead>
      <tr>
        <td class="column5 textCenter" rowspan="2">No</td>
        <td class="column10 textCenter" rowspan="2">GEJALA, PENYEBAB PENYAKIT ATAU KONDISI PASIEN</td>
        <td class="column5 textCenter" rowspan="2">Kode Unik</td>
        <td class="column65 textCenter" colspan="13">JUMLAH KASUS BARU (Umur dan Jenis Kelamin)</td>
        <td class="column15 textCenter" colspan="3">JUMLAH KASUS LAMA</td>
      </tr>
      <tr>
        <td class="column5 textCenter">0-7 hari</td>
        <td class="column5 textCenter">8-28 hari</td>
        <td class="column5 textCenter">1-11 bl</td>
        <td class="column5 textCenter">1-4 th</td>
        <td class="column5 textCenter">5-9 th</td>
        <td class="column5 textCenter">10-14 th</td>
        <td class="column5 textCenter">15-19 th</td>
        <td class="column5 textCenter">20-44 th</td>
        <td class="column5 textCenter">45-59 th</td>
        <td class="column5 textCenter">>59 th</td>
        <td class="column5 textCenter">L</td>
        <td class="column5 textCenter">P</td>
        <td class="column5 textCenter">JML</td>
        <td class="column5 textCenter">L</td>
        <td class="column5 textCenter">P</td>
        <td class="column5 textCenter">JML</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="column5 textCenter">A</td>
        <td class="column10">INFEKSI PADA USUS</td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">1</td>
        <td class="column10">Diare tanpa dehidrasi</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">2</td>
        <td class="column10">Diare dengan dehidrasi ringan-sedang</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">3</td>
        <td class="column10">Diare dengan dehidrasi berat</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">B</td>
        <td class="column10">INFEKSI PADA SALURAN PERNAFASAN</td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">1</td>
        <td class="column10">Pneumonia berat</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">C</td>
        <td class="column10">INFEKSI UMUM BAKTERI</td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">1</td>
        <td class="column10">Demam tifoid probable</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">2</td>
        <td class="column10">Demam tifoid konfirmasi</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">D</td>
        <td class="column10">INFEKSI UMUM VIRUS</td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">1</td>
        <td class="column10">Acute flaccid paralysis (AFP)</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">2</td>
        <td class="column10">Hepatitis klinis (ikterik/warna urine seperti teh)</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">E</td>
        <td class="column10">GANGGUAN MATA DAN ADNEKSA</td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">1</td>
        <td class="column10">Buta</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">F</td>
        <td class="column10">KECELAKAAN DAN KERACUNAN</td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">1</td>
        <td class="column10">Cedera akibat kecelakaan transport</td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">2</td>
        <td class="column10">Cedera akibat tenggelam</td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">3</td>
        <td class="column10">Cedera akibat jatuh</td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">4</td>
        <td class="column10">Cedera akibat terbakar</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">5</td>
        <td class="column10">Cedera akibat digigit ular</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">6</td>
        <td class="column10">Cedera atau gangguan kesehatan akibat kekerasan fisik</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">7</td>
        <td class="column10">Gangguan kesehatan akibat kekerasan mental</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">8</td>
        <td class="column10">Gangguan kesehatan akibat kekerasan seksual</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">9</td>
        <td class="column10">Keracunan bahan kimia (bukan makanan)</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">10</td>
        <td class="column10">Keracunan makanan</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">G</td>
        <td class="column10">GANGGUAN (CEDERA, PENYAKIT) AKIBAT KERJA</td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">1</td>
        <td class="column10">Sakit akibat kerja</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">2</td>
        <td class="column10">Cedera/kecelakaan akibat kerja</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">H</td>
        <td class="column10">GANGGUAN MENTAL</td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">1</td>
        <td class="column10">Percobaan tindakan bunuh diri</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">I</td>
        <td class="column10">PENYAKIT LAINNYA</td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">1</td>
        <td class="column10">Trauma lahir</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">J</td>
        <td class="column10">KELAINAN BAWAAN LAINNYA</td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
        <td class="column5 columGrey"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">1</td>
        <td class="column10">Kembar siam</td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
        <td class="column5"></td>
      </tr>
    </tbody>
  </table>
</body>

</html>