<!DOCTYPE html>
<html>

<head>
  <title>LAPORAN BULANAN PENGENDALIAN PENYAKIT MENULAR</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th,
    td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }

    th {
      text-align: center;
      font-weight: 400;
    }

    .column2-5 {
      width: 2.5%;
    }

    .column5 {
      width: 5%;
    }

    .column7-5 {
      width: 7.5%;
    }

    .column10 {
      width: 10%;
    }

    .column12-5 {
      width: 12.5%;
    }

    .column15 {
      width: 15%;
    }

    .column20 {
      width: 20%;
    }

    .column25 {
      width: 25%;
    }

    .column30 {
      width: 30%;
    }

    .column35 {
      width: 35%;
    }

    .column40 {
      width: 40%;
    }

    .column45 {
      width: 45%;
    }

    .column50 {
      width: 50%;
    }

    .column55 {
      width: 55%;
    }

    .column60 {
      width: 60%;
    }

    .column65 {
      width: 60%;
    }

    .column70 {
      width: 60%;
    }

    .column75 {
      width: 60%;
    }

    .column80 {
      width: 60%;
    }

    .column95 {
      width: 95%;
    }

    .columGrey {
      background: #F1F1F1;
    }

    .head {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
    }

    .head p {
      margin: 0;
    }

    .textCenter {
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="head">
    <p>Formulir 10</p>
    <p>LAPORAN BULANAN PELAYANAN PUSKESMAS</p>
  </div>
  <table>
    <thead>
      <tr>
        <td class="column5 textCenter" rowspan="2">No</td>
        <td class="column75 textCenter" rowspan="2">KEGIATAN</td>
        <td class="column20 textCenter" colspan="2">JUMLAH</td>
      </tr>
      <tr>
        <td class="column10 textCenter">Baru</td>
        <td class="column10 textCenter">Lama</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="column5 columGrey textCenter">I</td>
        <td class="column75 columGrey">KUNJUNGAN PUSKESMAS</td>
        <td class="column10 columGrey"></td>
        <td class="column10 columGrey"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">1.</td>
        <td class="column75">Jumlah kunjungan puskesmas (baru dan lama)</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">2.</td>
        <td class="column75">Jumlah kunjungan peserta JKN</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">3.</td>
        <td class="column75">Jumlah kunjungan peserta asuransi kesehatan lainnya</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter" rowspan="3" style="vertical-align: top;">4.</td>
        <td class="column75">Jumlah penderita yang dirujuk ke</td>
        <td class="column10 columGrey"></td>
        <td class="column10 columGrey"></td>
      </tr>
      <tr>
        <td class="column75">a. Puskesmas rawat inap</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column75">b. Fasilitas kesehatan rujukan tingkat lanjut (FKRTL)</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">5.</td>
        <td class="column75">Jumlah penderita penyakit tidak menular dirujuk ke fasilitas pelayanan kesehatan rujukan tingkat lanjut</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter" rowspan="3" style="vertical-align: top;">6.</td>
        <td class="column75">Jumlah penderita yang dirujuk balik dari:</td>
        <td class="column10 columGrey"></td>
        <td class="column10 columGrey"></td>
      </tr>
      <tr>
        <td class="column75">a. Puskesmas rawat inap</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column75">b. Fasilitas pelayanan kesehatan rujukan tingkat lanjut</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">7.</td>
        <td class="column75">Jumlah rujukan dari Posbindu PTM ke puskesmas</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">II</td>
        <td class="column75">RAWAT INAP</td>
        <td class="column10 columGrey"></td>
        <td class="column10 columGrey"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">1.</td>
        <td class="column75">Jumlah penderita rawat inap</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">2.</td>
        <td class="column75">Jumlah ibu hamil, melahirkan, nifas dengan gangguan kesehatan dirawat inap</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">3.</td>
        <td class="column75">Jumlah anak berumur <5 tahun sakit dirawat inap</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">4.</td>
        <td class="column75">Jumlah penderita cedera/kecelakaan dirawat inap</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">5.</td>
        <td class="column75">Jumlah penderita penyakit tidak menular dirawat inap</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">6.</td>
        <td class="column75">Jumlah penderita yang keluar sembuh dari rawat inap puskesmas</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">7.</td>
        <td class="column75">Jumlah hari rawat semua penderita rawat inap</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">III</td>
        <td class="column75">PELAYANAN KESAKITAN GIGI DAN MULUT</td>
        <td class="column10 columGrey"></td>
        <td class="column10 columGrey"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">1.</td>
        <td class="column75">Jumlah penambalan gigi tetap </td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">2.</td>
        <td class="column75">Jumlah penambalan gigi sulung</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">3.</td>
        <td class="column75">Jumlah pencabutan gigi tetap</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">4.</td>
        <td class="column75">Jumlah pencabutan gigi sulung</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">5.</td>
        <td class="column75">Jumlah pembersihan karang gigi</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">6.</td>
        <td class="column75">Jumlah premedikasi/pengobatan</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">7.</td>
        <td class="column75">Jumlah pelayanan rujukan gigi</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">8.</td>
        <td class="column75">Jumlah SD/MI dilaksanakan pemeriksaan kesehatan gigi dan mulut</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">9.</td>
        <td class="column75">Jumlah murid SD/MI perlu perawatan kesehatan gigi</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">10.</td>
        <td class="column75">Jumlah murid SD/MI yang mendapat perawatan kesehatan gigi</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">11.</td>
        <td class="column75">Jumlah pemasangan gigi tiruan</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">12.</td>
        <td class="column75">Jumlah ibu hamil yang mendapatkan perawatan gigi</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">13.</td>
        <td class="column75">Jumlah TK/PAUD yang dilakukan pemeriksaan kesehatan gigi dan mulut</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">IV</td>
        <td class="column75">PELAYANAN LABORATORIUM</td>
        <td class="column10 columGrey"></td>
        <td class="column10 columGrey"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">1.</td>
        <td class="column75">Jumlah pemeriksaan hematologi</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">2.</td>
        <td class="column75">Jumlah pemeriksaan kimia klinik</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">3.</td>
        <td class="column75">Jumlah pemeriksaan urinalisa</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">4.</td>
        <td class="column75">Jumlah pemeriksaan mikrobiologi dan parasitologi</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">5.</td>
        <td class="column75">Jumlah pemeriksaan imunologi</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">6.</td>
        <td class="column75">Jumlah pemeriksaan tinja</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">V</td>
        <td class="column75">PELAYANAN FARMASI</td>
        <td class="column10 columGrey"></td>
        <td class="column10 columGrey"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">1.</td>
        <td class="column75">Jumlah resep dari rawat jalan</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">2.</td>
        <td class="column75">Jumlah resep dari rawat inap</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">3.</td>
        <td class="column75">Jumlah konseling obat</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">4.</td>
        <td class="column75">Jumlah pemberian informasi obat</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter" rowspan="2" style="vertical-align: top;">5.</td>
        <td class="column75">Jumlah penggunaan antibiotik pada ISPA NonPneumonia</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column75">Jumlah kasus ISPA Non-Pneumonia</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter" rowspan="2" style="vertical-align: top;">6.</td>
        <td class="column75">Jumlah penggunaan antibiotik pada Diare NonSpesifik</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column75">Jumlah kasus Diare Non-Spesifik</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter" rowspan="2" style="vertical-align: top;">7.</td>
        <td class="column75">Jumlah penggunaan injeksi pada Myalgia</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column75">Jumlah kasus Myalgia</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
      <tr>
        <td class="column5 textCenter">8.</td>
        <td class="column75">Jumlah item obat semua resep</td>
        <td class="column10"></td>
        <td class="column10"></td>
      </tr>
    </tbody>
  </table>
</body>

</html>